
@font-face {
    font-family: "DP-Emoticons";
    src: local("DP-Emoticons"), url(emoticons.ttf) format("truetype");
}
@font-face {
    font-family: "DP-Emoticons-Outline";
    src: local("DP-Emoticons-Outline"), url(emoticons_outline.ttf) format("truetype");
}
@font-face {
    font-family: "DP-Sketchy";
    src: local("DP-Sketchy"), url(sketchysmiley.ttf) format("truetype");
}

.e {
    font-family: "DP-Emoticons";
}
.e.filled {
    font-family: "DP-Emoticons-Outline";
}
.e2 {
    font-family: "DP-Sketchy";
}

.e.tongue:before{content:"a";}
.e.meh:before{content:"b";}
.e.embarrassed:before{content:"c";}
.e.discomfort:before{content:"d";}
.e.confused:before{content:"e";}
.e.oops:before{content:"f";}
.e.amazed3:before{content:"g";}
.e.surprised:before{content:"h";}
.e.inlove:before{content:"i";}
.e.smile:before{content:"j";}
.e.sad:before{content:"k";}
.e.injured:before{content:"l";}
.e.happy:before{content:"m";}
.e.pain:before{content:"n";}
.e.pain2:before{content:"o";}
.e.happytongue:before{content:"p";}
.e.amazed:before{content:"q";}
.e.glasses:before{content:"r";}
.e.suspicious:before{content:"s";}
.e.amazed2:before{content:"t";}
.e.suspicious2:before{content:"u";}
.e.shocked:before{content:"v";}
.e.happytongue2:before{content:"w";}
.e.angel:before{content:"x";}
.e.devil:before{content:"y";}
.e.devil2:before{content:"z";}

.e.nerd:before{content:"2";}
.e.mad:before{content:"3";}
.e.mad2:before{content:"4";}
.e.evil:before{content:"5";}
.e.evil2:before{content:"6";}
.e.noface:before{content:"0";}
.e.target:before{content:".";}
.e.ban:before{content:",";}

.e.smile2:before{content:"A";}
.e.meh2:before{content:"C";}
.e.yay:before{content:"D";}
.e.sadtongue:before{content:"E";}
.e.sadtongue2:before{content:"F";}
.e.thoughtful2:before{content:"G";}
.e.wink:before{content:"H";}
.e.weird:before{content:"I";}
.e.nevermind:before{content:"J";}
.e.wink2:before{content:"K";}
.e.nevermind2:before{content:"L";}
.e.nevermind3:before{content:"M";}
.e.thoughtful:before{content:"N";}
.e.perky:before{content:"O";}
.e.watchingyou:before{content:"P";}
.e.watchingyou2:before{content:"Q";}
.e.aybby:before{content:"R";}
.e.dead:before{content:"S";}
.e.resentful:before{content:"T";}
.e.lol:before{content:"U";}
.e.mad3:before{content:"V";}
.e.angry:before{content:"W";}
.e.angry2:before{content:"X";}
.e.mad4:before{content:"Y";}
.e.tongue2:before{content:"Z";}

.e2.lol:before{content:"a";}
.e2.perky:before{content:"b";}
.e2.watchingyou:before{content:"c";}
.e2.devil:before{content:"d";}
.e2.thoughtful:before{content:"e";}
.e2.thoughtful2:before{content:"f";}
.e2.discomfort:before{content:"g";}
.e2.confused:before{content:"h";}
.e2.happytongue:before{content:"i";}
.e2.smile:before{content:"j";}
.e2.sad:before{content:"k";}
.e2.surprised:before{content:"l";}
.e2.dead:before{content:"n";}
.e2.wink:before{content:"o";}
.e2.injured:before{content:"p";}
.e2.weird:before{content:"r";}
.e2.pain:before{content:"u";}
.e2.smile2:before{content:"y";}
