
body {
  background-color: rgba(255, 128, 0, 0.1);
  margin: 0;
  color: #333;
  font-family: "Roboto", sans-serif;
}

input {
  position: fixed;
  top: -200px;
}

h1{
  font-size: 40px;
  letter-spacing: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
h5 {
  letter-spacing: 6px;
}
h1,h2,h3,h4,h5,h6 {
  margin: 8px auto;
}

a {
  text-decoration: none;
  color: rgb(255, 128, 0);
  transition: all 0.1s;
}
a:hover {
  color: rgb(255, 160, 0);
}

strong {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
}

pre {
  background: rgba(255,255,255,0.5);
  padding: 10px 20px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  white-space: pre-line;
}

table {
  width: 100%;
}

ul {
  list-style-type: none;
}
li {
  padding-top: 2px;
}

noscript h2{
  line-height: 80vh;
}

.cover {
  text-align: center;
  background: #333;
  color: rgba(255,255,255,0.9);
  padding: 20px 0;
}

.description {
  text-align: justify;
  margin: 20px auto;
  background-color: rgba(255,255,255, 0.5);
  padding: 10px 20px;
  box-sizing: border-box;
  width: 800px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
}

.description h3{
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.description td {
  padding: 5px 0;
  font-family: monospace;
}

.emos h3 {
  margin-bottom: 30px;
}

.description#meme{
  padding-top: 40px;
}

.row {
  height: 90px;
  text-align: center;
}
.row>div {
  display: inline-block;
  line-height: 30px;
  position: relative;
}
.row>div>span:not(.fw) {
  display: block;
  color: rgba(0,0,0,0.7);
  font-size: 12px;
  line-height: 1px;
}

.fw {
  vertical-align: bottom;
}
.cover .fw {
  vertical-align: initial;
}
.description .fw {
  font-size: 20px;
}
.emos .fw {
  line-height: 60px;
  width: 80px;
  font-size: 32px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.emos .fw:hover {
 font-size: 36px;
 text-shadow: 0 0 12px rgba(255,255,255,0.1);
}
.emos .fw:active {
 font-size: 35px;
 color: #888;
}
.emos .fw.fw-f {font-size: 26px;}
.emos .fw.fw-f:hover {font-size: 29px;}
.emos .fw.fw-f:active {font-size: 28px;}
.emos .fw.fw-m {font-size: 70px;width: 120px;}
.emos .fw.fw-m:hover {font-size: 75px;}
.emos .fw.fw-m:active {font-size: 74px;}

.copied {
  animation: copied 0.8s;
}
.copied:after {
  position: absolute;
  bottom: 42px;
  left: calc(50% - 26px);
  opacity: 0;
  visibility: hidden;
  color: #eee;
  background-color: black;
  border-radius: 6px;
  border: 1px solid rgba(255,255,255,0.8);
  padding: 3px;
  font-family: Arial;
  font-size: 10px;
  line-height: 14px;
  content: "COPIED";
  animation: goUp 0.6s;
}

@keyframes copied{
  0%{text-shadow: 0 0 12px rgba(255,255,255,1); color: #777;}
  10%{text-shadow: 0 0 100px rgba(255,255,255,1);}
  100%{text-shadow: 0 0 200px rgba(255,255,255,0); color: #333;}
}

@keyframes goUp{
  0%{visibility:visible;}
  50%{opacity: 0.7;}
  100%{bottom: 50px; opacity: 0;}
}
